# Ignora arquivos de log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


# Ignora o diretório de dependências instalado pelo npm
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.vercel

# Ignora o arquivo de variáveis de ambiente (contém informações sensíveis como chaves API)
.env

# Ignora arquivos de sistema do macOS
.DS_Store

# Ignora o diretório de saída de build gerado pelo Vite
dist/

# Ignora o diretório de cache do Vite
.vite/